
<!doctype html>
<html lang="en">
<style>
header {background-color: gray}
div.content {background-color: lightblue}
footer {background-color:gray}
</style>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Example Heroku app stock ticker.">
        <meta name="author" content="@conwayhsieh">
        <title>Stock Ticker</title>
        
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>

    <body>
        <!-- navigation -->
        <nav class="navbar navbar navbar-fixed-top" role="navigation">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <span class="navbar-brand">Stock Ticker Lookup</span>
            </div>

            <div class="navbar navbar" id="nav-1">
              <ul class="nav navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://github.com/ConwayHsieh/heroku_flask_stockticker">GitHub</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>

        <!-- user input -->
        <div class=page>
            <h2>Stock Ticker</h2>
            <div class=metanav>
                <h4>Please enter a stock ticker eg. AAPL, and check desired 
                features.</h4>

                <form id='input' method='post' action='plot'>  
                    <p>Ticker symbol: <input type='text' name='ticker' /></p>
                    <p>
                        <input type="checkbox" name='Close'>Closing price<br>
                        <input type="checkbox" name='Adj. Close'>Adjusted closing price<br>
                        <input type="checkbox" name='Open'>Opening price<br>
                        <input type="checkbox" name='Adj. Open'>Adjusted opening price<br>
                        <input type="submit" value="Submit">
                    </p>
                </form>
            </div>
        </div>


        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>
